.filter-block {
	overflow: hidden;
	height: calc( 100% - ( #{$number-filters} - 1 ) * #{ $filter-header-height } );
	transition: height 0.5s;
	
	&__hidden {
		height: $filter-header-height;
	}

	&--content {
		overflow: auto;
		width: 100%;
		height: calc( 100% - #{ $filter-header-height } );
		box-sizing: border-box;
		padding: 10px;
	}

	&--header {
		height: $filter-header-height;
		width: 100%;
		background-color: $contrast-light;
		box-sizing: border-box;
		border: 1px solid $contrast-dark;
		line-height: $filter-header-height;
		padding-left: 20px;
	}

}