$filter-header-height: 50px;
$number-filters: 2;

@import 'filter-block';

.filters {
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: $filter-width;

	.filters--class-list > li {
		margin-bottom: 10px;
	}

	.filters--sub-class-list {
		margin-left: 10px;
		display: block;
		@include columns(2);
		max-height: 100px;
		transition: max-height 0.5s;
		overflow: hidden;

		> li {
			display: block;
			// margin: 0 10px;
		}

		&__hidden {
			max-height: 0;
		}
	}
}
