$filter-header-height: 50px;
$number-filters: 3;

@import 'filter-block';

.filters {
	bottom: 0;
	left: 0;
	position: fixed;
	top: 0;
	width: $filter-width;

	.filters--class-list > li {
		margin-bottom: 10px;
	}

	.filters--sub-class-container {
		margin-left: 10px;
		display: block;
		overflow: hidden;

		> li {
			display: block;
			// margin: 0 10px;
		}

		&__hidden {
			max-height: 0;
		}

	}

	.filters--sub-class-list {
		@include columns(2);

		&__long-names {
			@include columns(1);
		}
	}
}
