<select ng-model="spellFilters.selectedClass" ng-options="class as class.name for class in classes">
	<option value="">All</option>
</select>
<span ng-if="spellFilters.selectedClass.subtypeName">
	{{ spellFilters.selectedClass.subtypeName }}: 
	<select ng-model="spellFilters.subclass" ng-options="subclass as subclass.name for subclass in spellFilters.selectedClass.subtypes">
		<option value="">None</option>
	</select>
</span>
<table class="list" ng-class="(spellFilters.selectedClass) ? 'list__class-filtered' : ''">
	<thead>
		<tr>
			<td class="list--column list--column__spell">Spell</td>
			<td class="list--column list--column__school">School</td>
			<td class="list--column list--column__classes">Classes</td>
			<td class="list--column list--column__sources">Sources</td>
		</tr>
	</thead>
	<tbody>
		<tr class="list--row" ng-repeat="spell in spells | spellsFilter:spellFilters" ng-class-even="'list--row__even-row'">
			<td class="list--column list--column__spell">
				<div class="list--spell-name">{{ spell.name }}</div>
				<div class="list--spell-tags" ng-if="spell.tags.length">{{ spell.tags.join(", ") }}</div>
			</td>
			<td class="list--column list--column__school">Level {{ spell.level }} {{ spell.school }}</td>
			<td class="list--column list--column__classes">
				<div ng-repeat="class in spell.classes">
					{{ class | normalizedClass }}
				</div>
			</td>
			<td class="list--column list--column__sources">
				<div ng-repeat="source in spell.sources">
					{{ source.name }} p.{{ source.page }}
				</div>
			</td>
		</tr>
	</tbody>
</table>