@import "global";

.list {
	border: 1px solid $primary-dark;

	> thead {
		background-color: $contrast-dark;
		color: #fff;
		font-weight: bold;
	}

	&--column {
		padding: 5px;

		&__spell {
			width: 250px;
		}
		&__school {
			width: 150px;
		}
		&__classes {
			width: 200px;
		}
		&__sources {
			width: 200px;
		}
	}

	&--row {
		&__even-row {
			background-color: $primary-light;
		}
	}

	&__class-filtered {
		.list--column__classes {
			display: none;
		}
	}

	&--spell-tags {
		font-style: italic;
		font-size: 0.8rem;
	}
}

.list-controls {
	background-color: $primary-color;
	padding: 10px 20px;
	font-size: 1.2rem;
	border-radius: 20px 20px 0 0;
	margin-top: 10px;
	line-height: 2.2rem;

	&--select {
		font-size: 1.2rem;
	}
}
